@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url('/assets/fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
  url('/assets/fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
  url('/assets/fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
  url('/assets/fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
}

@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url('/assets/fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
  url('/assets/fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
  url('/assets/fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
  url('/assets/fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrlight') format('svg');
}

@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url('/assets/fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
  url('/assets/fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
  url('/assets/fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrlight') format('svg');
}

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url('/assets/fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
  url('/assets/fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
  url('/assets/fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrlight') format('svg');
}